body{ 
background-color: aqua;    
}
h1{
font-size: 40px;
color: teal;
} 

h2{
font-size: 50px;
color: orange; 

}
.big{
font-size: 60px;
}

.uppercase {
text-transform: uppercase;
}


.big.uppercase {color: red  ;}
